@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-900 antialiased;
}

.bg-blur {
  position: fixed;
  inset: 0;
  z-index: -1;
  background: url('/background.webp') center/cover no-repeat;
  filter: blur(4px) brightness(0.95);
  transform: scale(1.05);
}
